.container {
  width: 100%;
  border: solid 1px var(--gray);
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2.5px var(--gray);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.roomItemContainer {
  .infiniteScroll {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.buttonSpace {
  margin: 5px;
}

.tabs {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  border-bottom: solid 1px var(--gray);
  h4 {
    cursor: pointer;
    &:hover {
      color: var(--blue);
    }
  }
}

.infiniteScroll {
  overflow: -moz-hidden-unscrollable;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.textField {
  width: calc(100% - 10px);
}

.navList {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loadingContainer {
  width: 100%;
  max-width: 350px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .loading {
    animation: loading 1s infinite;
  }
}

.emptyMessage {
  color: var(--gray);
  font-size: 60px;
  text-align: center;
  padding: 20px 0px;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 575px) {
  .emptyMessage {
    font-size: 20px;
  }
}