.login__form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  img {
    width: 200px;
  }
  p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .login__input,
  .button {
    width: 300px;
    margin: 15px 0px;
  }
  .button {
    height: 55px;
    font-size: 20px;
  }
}
