.container {
  border: solid 1px var(--gray);
  margin: 50px 0px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2.5px var(--gray);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.submitBtn {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}