.container {
  width: 100%;
  border: solid 1px var(--gray);
  margin: 50px 0px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2.5px var(--gray);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  .memoContainer {
    margin: 0px 8px;
    .title {
      font-size: 24px;
      font-weight: 700;
      margin: 10px 0px;
    }
    ul {
      margin-left: 16px;
      .memo {
        letter-spacing: 1px;
        margin: 5px 0px;
      }
    }
  }
  .loadingContainer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loading {
      animation: loading 1s infinite;
    }
  }
  .emptyMessage {
    font-size: 5vw;
    text-align: center;
    color: var(--gray);
  }
}
