.container {
  width: 100%;
  border: solid 1px var(--gray);
  margin: 50px 0px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2.5px var(--gray);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  .list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0px;
}
