.roomItem {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .name {
    height: 50px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 20px 0 10px 0px;
  }
  p {
    padding: 10px 0px;
    margin-bottom: 0px;
    font-weight: 700;
    display: flex;
    width: 95%;
    justify-content: space-around;
  }
  img {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
  }
  .intro {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pointer {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    &:hover {
      color: var(--red);
    }
  }
}
