.submitBtn {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.option__container {
  display: flex;
  align-items: center;
  margin: 0 8px;
  .title {
    min-width: 60px;
    padding: 6px 0px;
    .highlight {
      font-weight: 700;
      color: var(--blue);
    }
  }
  .errorMessage {
    color: var(--red);
    margin-left: 10px;
  }
  .options__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .textField {
      width: 35%;
    }
    p {
      margin: 0px 5px;
    }
  }
}

.loadingContainer {
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .loading {
    animation: loading 1s infinite;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
